<%- include('layout', { body: `
    <div id="input-panel">
      <form id="route-form">
        <input type="text" id="start-location" placeholder="Start location" required>
        <input type="text" id="end-location" placeholder="End location" required>
        <button type="submit">Get Route</button>
      </form>
    </div>
    <div id="map"></div>
  `}) %>
  
  
  